apiVersion: v1
kind: Secret
metadata:
  name: grafana
  namespace: {{ namespace_grafana }}
  labels:
    app: grafana
type: Opaque
data:
  username: {{ user_grafana }}
  passphrase: {{ pass_grafana }}
