#!/bin/bash
#
GRAFANA_USERNAME=$(echo -n "{{ user_grafana }}" | base64)
GRAFANA_PASSPHRASE=$(echo -n "{{ pass_grafana }}" | base64)

cat <<EOF | kubectl apply -f -
apiVersion: v1
kind: Secret
metadata:
  name: grafana
  namespace: {{ namespace_grafana }}
  labels:
    app: grafana
type: Opaque
data:
  username: $GRAFANA_USERNAME
  passphrase: $GRAFANA_PASSPHRASE
EOF
